{{!-- Show all the burgers not yet eaten in the left sided div with the button to
devour if desired --}}
<div class="left">
  {{#each burgers}}
  {{#unless devoured}}
  <div class="burgerAndBtn">
    <div class="btn">
      <button class="devourBtn" data-id="{{id}}">Devour</button>
    </div>
    <div class="burger">
      {{burger_name}}
    </div>
  </div>
  {{/unless}}
  {{/each}}
</div>

{{!-- Show all the eated burgers in the right sided div without a button because
they are eaten--}}
<div class="right">
  {{#each burgers}}
  {{#if devoured}}
  <div class="devoured">
    <div class="burger">
      {{burger_name}}
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>
