<div class="left">
  {{#each burgers}}
  {{#unless devoured}}
  <div class="burgerAndBtn">
    <div class="btn">
      <button class="devourBtn" data-id="{{id}}">Devour</button>
    </div>
    <div class="burger">
      {{id}} {{burger_name}}
    </div>
  </div>
  {{/unless}}
  {{/each}}
</div>

<div class="right">
  {{#each burgers}}
  {{#if devoured}}
  <div class="devoured">
    <div class="burger">
      {{burger_name}}
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>

{{!when devourbtn clicked, devoured = true using a put router}}