body {
    background-color: palegoldenrod;
    font-size: 16pt;
}

.left {
    min-width: 40%;
    min-height: 200px;
    float: left;
}

.right {
    width: 40%;
    float: left;
    margin-left: 200px;
}

.formStyle{
    clear: both;
    width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;    
}

.head {
    margin-bottom: 50px;
    text-align: center;
}

.burgerAndBtn {
    clear:both;
    height: 40px;
}

.burger { 
    background-color: oldlace;
    height: 40px;
    width: 450px;
    margin: 10px 10px 10px 30px;
}

.btn {
    float: right;
}

.devourBtn {
    width: 80px;  
    background-color: lightgreen;
    font-weight: bold;
}

#newBurgerBox {
    width: 350px;
}

#addBtn{
    margin-top: 20px;
    background-color: lightgreen;
    font-weight: bold;
    width: 200px;
    height: 25px;
}

.devoured {
    color: grey;
  
}